{% load staticfiles %}  
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper cyan darken-3">
            <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="{% url 'home' %}" class="brand-logo center">Easy SMS</a>
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'message:addnone' %}">Neue Nachricht</a></li>   
                    <li><a class="dropdown-button" href="#!" data-activates="user_dropdown">{{user}}<i class="material-icons right">arrow_drop_down</i></a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Anmelden</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<ul id="user_dropdown" class="dropdown-content">
    <li><a href="{% url 'settings' %}">Einstellungen</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'logout' %}">Abmelden</a></li>
</ul>

<ul class="side-nav" id="mobile">
    <li><a href="{% url 'home' %}">Startseite</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'message:addnone' %}">Neue Nachricht</a></li>
        <li><a href="{% url 'settings' %}">Einstellungen</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}">Abmelden</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Anmelden</a></li>
    {% endif %}
</ul>
        