{% extends "core/_layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Gruppe Hinzufügen</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ add_message_group_form.as_p }}
                    <button class="btn" name="add_message_group_submit" type="submit">Änderungen Speichern</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 l8">
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Meine Gruppen</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>Anzahl Empfänger</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in message_group %}
                            <tr>
                                <td>{{group.name}}</td>
                                <td>{{group.owner}}</td>
                                <td>{{group.receiver.count}}</td>
                                <td>
                                    <a class="modal-trigger" href="#{{group.id}}_modal">Mehr Anzeigen</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col s12 l4">
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Alle Benutzer</h2>
            </div>
            <ul class="collection">
            {% for u in users %}
                <li class="collection-item avatar">
                    <img src="{% static 'core/images/default_user.svg' %}" alt="{{u.email}}" class="circle">
                    <span class="title">{{u.username}}</span>
                </li>
            {% endfor %}
            </ul>  
        </div>      
    </div>
</div>

{% for group in message_group %}
<div id="{{group.id}}_modal" class="modal">
    <div class="modal-content">
        <h4>Gruppe "{{group.name}}"</h4>
        <table>
            <tbody>
                <tr>
                    <th>Owner</th>
                    <td>{{group.owner}}</td>
                </tr>
                <tr>
                    <th>Empfänger</th>
                    <td>
                        <ul class="collection">
                        {% for r in group.receiver.all %}
                            <li class="collection-item">{{r}}</li>
                        {% endfor %}
                        </ul>
                    </td>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn-flat">Schliessen</a>
        {% if group.owner == user.profile %}
            <a class="modal-action btn-flat" href="{% url 'message:add' group_id=group.id %}">Neue Nachricht</a>
            <a class="modal-action red-text btn-flat" href="{% url 'message:deletegroup' group_id=group.id %}">Löschen</a>
        {% endif %}
    </div>
</div>
{% endfor %}


{% endblock %}