{% extends "core/_layout.html" %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Profil Bearbeiten</span>
                <form method="POST">
                    {% csrf_token %}
                    {{edit_profile_form.as_p}}
                    <button class="btn" name="edit_profile_submit" type="submit">Änderungen Speichern</button>
                </form>
            </div> 
        </div>
    </div>
</div>

{% endblock %}