{% extends "core/_layout.html" %}

{% block content %}
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <br>
  <a href="{% url 'social:begin' 'bitbucket-oauth2' %}">Login mit Bitbucket</a><br>
{% endblock %}