{% extends "core/_layout.html" %}

{% block content %}
<h1>Index</h1>
<h2>Users</h2>
<div>
    <h3>Profil Bearbeiten</h3>
    <form method="POST">
        {% csrf_token %}
        {{edit_profile_form.as_p}}
        <button name="edit_profile_submit" type="submit">Änderungen Speichern</button>
    </form>
<table>
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Benutzername</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
            <tr>
                <td>{{u.first_name}}</td>
                <td>{{u.last_name}}</td>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td>{{u.profile.phone}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Message Groups</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Anzahl Empfänger</th>
        </tr>
    </thead>
    <tbody>
        {% for group in message_group %}
            <tr>
                <td>{{group.name}}</td>
                <td>{{group.owner}}</td>
                <td>{{group.receiver.count}}</td>
                <td><a href="{% url 'message:deletegroup' message_id=group.id %}">Löschen</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <h3>Hinzufügen</h3>
    <form method="post">
        {% csrf_token %}
        {{ add_message_group_form.as_p }}
        <button name="add_message_group_submit" type="submit">Änderungen Speichern</button>
    </form>
</div>


{% endblock %}