<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>{{title}} - Webinar SMS</title>
    <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Style-->
     {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'core/content/materialize.min.css' %}" />
    <!-- Sitestyle -->
    {% block style %}{% endblock %}
</head>
<body>
    {% if messages %}
        <ul class="messages" style="display: none;">
            {% for message in messages %}
                <li class="message {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% include "core/_RenderNav.html" %}
    <div class="container">       
        {% block content %}{% endblock %}
    </div>
    <!-- Scripts -->
    <script src="{% static 'core/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'core/scripts/materialize.min.js' %}"></script>
    <script src="{% static 'core/scripts/message.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();
            $('.tabs').tabs();
            $('select').material_select();
            $('.modal').modal();
        });
    </script>
    {% block script %}{% endblock %}
</body>
</html>