{% extends "core/_layout.html" %}

{% block content %}
<div class="row">
  <div class="col s12 m7 card">
    <div class="card-content">
      <h2 class="card-title">Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Login</button>
      </form>
    </div>
  </div>
  <div class="col s12 m5 card">
    <div class="card-content">
      <h2 class="card-title">Externes Login</h2>
        <a class="btn btn-large" style="background: #0052CC !important" href="{% url 'social:begin' 'bitbucket-oauth2' %}">
          Login mit Bitbucket
        </a>
    </div>
  </div>
</div>
{% endblock %}