{% extends "core/_layout.html" %}
{% block content %}
<div class="row">
    <div class="col s12 card">
        <div class="card-content">
            <h1 class="card-title">{{title}}</h1>
            <form method="post">
                {% csrf_token %}
                {{ message_form.send_to }}
                <p class="red-text">{{message_form.message.errors}}
                <div class="input-field">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="id_message" name="message" class="materialize-textarea"></textarea>
                    <label for="id_message">Nachricht</label>
                </div>
                <button class="btn" name="message_form_submit" type="submit">Abschicken</button>
            </form>
{% endblock %}