<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>{{title}} - Webinar SMS</title>
    <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Style-->
     {% load staticfiles %}

    <!-- Sitestyle -->
    {% block style %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <!-- Scripts -->

    {% block script %}{% endblock %}
</body>
</html>