{% extends "core/_layout.html" %}

{% block content %}
<h1>Index</h1>
<h2>Users</h2>
<table>
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Benutzername</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
            <tr>
                <td>{{u.first_name}}</td>
                <td>{{u.last_name}}</td>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}